@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        //font-display: swap;
        src: url('../fonts/#{$file_name}.woff2') format('woff2'), url('../fonts/#{$file_name}.woff') format('woff');
        //font-weight: #{$weight};
        //font-style: #{$style};
    }
}
@import 'fonts'; // подключение шрифтов
@import 'clean'; //подключение обнуляющих стилей

$font1: Roboto-Regular; // переменная с первым шрифтом для сайта

// шаблон
%tpl-list {
    list-style: none;
    padding-left: 15px;
}

body {
    font-family: $font1, sans-serif; //шрифт задан переменной $font1
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}
.content {
    flex: 1 1 auto;
}
section {
    max-width: 1180px;
    margin: 0 auto;
}

.main {
    display: flex;
    @media (max-width: 767px) {
        font-size: 30px;
    }
}
p {
    color: red;
    @media (max-width: 767px) {
        font-size: 20px;
    }
}
.img {
    display: block;
    width: 100%;
    height: 300px;
    background: url('../img/covid.jpg') 0 0 no-repeat;
}

.list-one {
    font-size: 14px;
    .item {
        display: inline-block;
        position: relative;
        color: green;
        // & - заменится названием родительского класса, т.е. в css будет .item:hover{...}
        &:hover {
            cursor: pointer;
        }
        &:hover:after {
            content: '';
            position: absolute;
            left: 15px;
            bottom: 0;
            border-bottom: 1px dashed red;
            width: calc(100% - 15px);
            height: 1px;
        }
        @extend %tpl-list; //применение шаблона
    }
}
